# Firebase
firebase-functions>=0.4.0
firebase-admin>=6.0.0

# Flask & Extensions
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
email_validator
authlib
requests
psycopg2-binary
flask-cors
pywebpush
py-vapid
flask-migrate

# Supabase
supabase

# AI
google-generativeai>=0.8.0

# Utilities
APScheduler
pandas
openpyxl
matplotlib
reportlab
